{% extends 'admin_panel/base/base.html' %}
{% load crispy_forms_tags static i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'easy_formset/easy_formset.css' %}">
{% endblock extra_css %}

{% block content %}
    <main class="main-content position-relative border-radius-lg ">

        <div class="container-fluid py-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header pb-0">
                                {% block card_title %}
                                {% endblock %}
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.category|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.model_number|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.title_en|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.title_ar|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.description_en|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.description_ar|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.quantity|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.price|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header pb-0">
                                <h6>{% translate 'Product English Specifications' %}</h6>
                            </div>
                            <div class="card-body">
                                {% with specification_en_formset as formset %}
                                    <div id="{{ formset.prefix }}">
                                        {{ formset.management_form }}

                                        <template formset-empty-form="{{ formset.prefix }}">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                {{ formset.empty_form.id }}
                                                                {{ formset.empty_form.name|as_crispy_field }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                {{ formset.empty_form.value|as_crispy_field }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-4 pb-3 mt-1 col-1 align-items-center">
                                                    <button formset-form-delete="{{ formset.empty_form.prefix }}"
                                                            href="#"#}
                                                            class="btn btn-lg delete-btn d-flex justify-content-center h-85 ml-1 mb-0"#}
                                                            type="button"><i#}
                                                            class="fas fa-trash-alt text-danger"></i>{{ formset.empty_form.DELETE }}
                                                    </button>
                                                </div>
                                            </div>
                                        </template>

                                        <div formset-forms="{{ formset.prefix }}">
                                            {% for form in formset.forms %}
                                                <div formset-form>
                                                    <div class="row">
                                                        <div class="col-11">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        {{ form.id }}
                                                                        {{ form.name|as_crispy_field }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        {{ form.value|as_crispy_field }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row pt-4 pb-3 mt-1 col-1 align-items-center">
                                                            <button formset-form-delete="{{ form.prefix }}" href="#"#}
                                                                    class="btn btn-lg delete-btn d-flex justify-content-center h-85 ml-1 mb-0"#}
                                                                    type="button"><i#}
                                                                    class="fas fa-trash-alt text-danger"></i>{{ form.DELETE }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="text-right">
                                            <a formset-add="{{ formset.prefix }}" href="">Add new item</a>
                                        </div>
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header pb-0">
                                <h6>{% translate 'Product Arabic Specifications' %}</h6>
                            </div>
                            <div class="card-body">
                                {% with specification_ar_formset as formset %}
                                    <div id="{{ formset.prefix }}">
                                        {{ formset.management_form }}

                                        <template formset-empty-form="{{ formset.prefix }}">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                {{ formset.empty_form.id }}
                                                                {{ formset.empty_form.name|as_crispy_field }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                {{ formset.empty_form.value|as_crispy_field }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-4 pb-3 mt-1 col-1 align-items-center">
                                                    <button formset-form-delete="{{ formset.empty_form.prefix }}"
                                                            href="#"#}
                                                            class="btn btn-lg delete-btn d-flex justify-content-center h-85 ml-1 mb-0"#}
                                                            type="button"><i#}
                                                            class="fas fa-trash-alt text-danger"></i>{{ formset.empty_form.DELETE }}
                                                    </button>
                                                </div>
                                            </div>
                                        </template>

                                        <div formset-forms="{{ formset.prefix }}">
                                            {% for form in formset.forms %}
                                                <div formset-form>
                                                    <div class="row">
                                                        <div class="col-11">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        {{ form.id }}
                                                                        {{ form.name|as_crispy_field }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        {{ form.value|as_crispy_field }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row pt-4 pb-3 mt-1 col-1 align-items-center">
                                                            <button formset-form-delete="{{ form.prefix }}" href="#"#}
                                                                    class="btn btn-lg delete-btn d-flex justify-content-center h-85 ml-1 mb-0"#}
                                                                    type="button"><i#}
                                                                    class="fas fa-trash-alt text-danger"></i>{{ form.DELETE }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="text-right">
                                            <a formset-add="{{ formset.prefix }}" href="">Add new item</a>
                                        </div>
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header pb-0">
                                <h6>{% translate 'Product Images' %}</h6>
                            </div>
                            <div class="card-body">
                                {% with product_image_formset as formset %}
                                    <div id="{{ formset.prefix }}">
                                        {{ formset.management_form }}
                                        <template formset-empty-form="{{ formset.prefix }}">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                {{ formset.empty_form.id }}
                                                                {{ formset.empty_form.file|as_crispy_field }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-4 pb-3 mt-1 col-1 align-items-center">
                                                    <button formset-form-delete="{{ formset.empty_form.prefix }}"
                                                            href="#"#}
                                                            class="btn btn-lg delete-btn d-flex justify-content-center h-85 ml-1 mb-0"#}
                                                            type="button"><i#}
                                                            class="fas fa-trash-alt text-danger"></i>{{ formset.empty_form.DELETE }}
                                                    </button>
                                                </div>
                                            </div>
                                        </template>

                                        <div formset-forms="{{ formset.prefix }}">
                                            {% for form in formset.forms %}
                                                <div formset-form>
                                                    <div class="row">
                                                        <div class="col-11">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        {{ form.id }}
                                                                        {{ form.file|as_crispy_field }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row pt-4 pb-3 mt-1 col-1 align-items-center">
                                                            <button formset-form-delete="{{ form.prefix }}" href="#"#}
                                                                    class="btn btn-lg delete-btn d-flex justify-content-center h-85 ml-1 mb-0"#}
                                                                    type="button"><i#}
                                                                    class="fas fa-trash-alt text-danger"></i>{{ form.DELETE }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="text-right">
                                            <a formset-add="{{ formset.prefix }}" href="">Add new Image</a>
                                        </div>
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    {% block buttons %}
                    {% endblock %}
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'easy_formset/easy_formset.js' %}"></script>
    <script>
        const specificationEnFormset = new Formset("{{ specification_en_formset.prefix }}");
        const specificationArFormset = new Formset("{{ specification_ar_formset.prefix }}");
        const productImageFormset = new Formset("{{ product_image_formset.prefix }}");
    </script>
{% endblock extra_js %}